*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.content {
  /* display: flex;
  flex: 1 0 auto;  */
  padding: 1rem;
  /* background: #ffe3e3; */
  width: 100%;
  margin: 0 auto;
  min-height: 10vh;
}
.top-info{
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  height: 30%;
}
p{
  line-height: 2em;
  color: #490191;
}
h1{
  font-size: 3rem;
}
h3{
  line-height: 4em;
}
.btn-info{
  border-radius: 3px;
  border: 0;
  background: transparent;
  padding: 9px 18px;
  cursor: pointer;
  color: #490191;
  font-size: 1em;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(125,125,125,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(125,125,125,1);
  box-shadow: 0px 0px 3px 0px rgba(125,125,125,1);
}


.img{
  max-width: 100%;
  min-height: 1200px;
  /* width: 100%;
  height: 1200px; */
  background: -webkit-linear-gradient(rgba(255, 0, 0, 0), rgba(255, 255, 255, 1) 90%);
  background: -o-linear-gradient(rgba(255, 0, 0, 0), rgba(255, 255, 255, 1) 90%);
  background: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 255, 255, 1) 90%),
              url(../../img/ff.jpg) no-repeat center 0 / cover;
}


.bottom-info {
  width: 100%;
  min-height: 500px;
}

.onesection{
  height: 500px;
  /* width: 100%; */
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* border-bottom: 1px solid #222 */
}
h1, h2, h3{
  text-align:center;
  /*line-height: 20px;*/
}

.kub{
  height: 110px;
  width: 400px;
  background: transparent;
  margin-bottom: 5em;
  margin-top: 3em;
  overflow: hidden;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(125,125,125,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(125,125,125,1);
  box-shadow: 0px 0px 3px 0px rgba(125,125,125,1);
}
form{
  display: flex;
  justify-content: space-around;
  margin-top: -10px;
  /* align-items: center; */
}
input[type="text"]{
  border: 0;
  outline: none;
  background: transparent;
  font-size: .9em;
  /* padding: 10px; */
}
input[type="text"]:hover{
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.10);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.10);
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
}
.email{
  font-size: .7em;
  margin-left: 3em;
  color: #490191;
  font-weight: bolder;
  margin-top: 2em;
}
.btn-bottom{
  border: 0;
  background: transparent;
  padding: 9px 18px;
  cursor: pointer;
  color: #490191;
  font-size: 1em;
}


.foot{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin:30px 0 30px 0;*/
}
.link{
  width: 100% / 3;
  margin: 0 auto;
  margin: 20px 0 20px 0;
  text-transform: uppercase;
}
