*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SFProText';
}
.logo{
  object-fit: contain;
  margin-left: 40px;
  margin-top: 30px;
}
.menu-item{
  margin-right: 40px;
  margin-top: 32px;
  font-size: 14px;
  line-height: 1.64;
  color: #1a2249;
}
a{
  text-decoration: none;
  color: #1a2249;
  
}

.menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
}
.logo{
  margin-right: auto;
}
.menu-item{
  list-style: none;
}
li{
  display: inline-block;
  padding: 0 15px;
}

@media screen and (max-width: 768px){
  .menu-item{
    font-size: 12px;
  }
}

@media screen and (max-width: 450px){
  .logo{
    margin-left: auto;
    text-align: center;
  }
  .menu-item{
    display: none;
  }
 
}