
/* footer {
  display: flex;
  flex: 0 0 auto;
  padding: 1rem;
  background: #e6ffe6;
  left: 0; bottom: 0;
} */
footer{
  /* position: relative;
  bottom: 0;
  left: 0; */

  border-top: 1px solid #525252;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link{
  width: 100% / 3;
  margin: 0 auto;
  margin: 20px 0 20px 0;
  text-transform: uppercase;
}