/* footer {
  display: flex;
  flex: 0 0 auto;
  padding: 1rem;
  background: #e6ffe6;
  left: 0; bottom: 0;
} */
*{
  margin: 0;
  padding: 0;
}
footer{
  border-top: solid 1px #e7eaee;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link{
  width: 100% / 3;
  margin: 70px 0 70px 0;
  font-size: 16px;
  font-weight: 500;
  color: #1a2249;
}


@media screen and (max-width: 1440px){
  footer{
    max-width: 1140px;
  }
}
@media screen and (max-width: 1024px){
  footer{
    max-width: 924px;
  }
}
@media screen and (max-width: 768px){
  footer{
    border-top: solid 1px #e7eaee;
    max-width: 668px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bottomlogo{
    display: flex;
    order: -1;
    width: 180px;
    height: 32px;
    margin-bottom: 30px;
    margin-top: 66px;
  }
  .link{
    width: 100% / 3;
    margin: 5px 0 5px 0;
    font-size: 16px;
    font-weight: 500;
    color: #1a2249;
  }
  .link:last-child {
    margin-bottom: 60px;
  }
}

